.category {}

.category__name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}

.category__name small {
  color: grey;
}

.category__options {
  display: flex;
  justify-content: end;
}