.thumbnail-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.thumbnail-preview__label{
margin-top: 1rem;
}
.thumbnail-preview__img{
 /* width: 100px; */
 width: 50%;
 border-radius: 20px;
}