.project-card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center
}

.project-card .description {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  font-size: 16px;
  margin-bottom: 20px;
}

.project-card .link {
  width: auto;
}

.link {
  margin-left: 1.5rem;
}

.project-card .image-thumbnail {}