:root {
	--nav-h: 100px;
}

.main-nav {
	background-color: teal;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	color: white;
	font-weight: bold;
	height: var(--nav-h);
}

.main-nav__brand {
}

.main-nav__options {
	display: flex;
	gap: 30px;
	margin: 0 15px;
}

.main-nav__option {
}
.link{
  display: block;
}
.link-active {
	background-color: coral;
  border-radius: 5px;
  padding: 0 1rem;
}

.content {
	background-color: #fbfbfb;
	min-height: calc(100vh - var(--nav-h));
}
