@import url('./assets/styles/reset.css');
@import url('./assets/styles/bootstrap/css/bootstrap.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

/* temporal */

.input-wrapper {
  /* background-color: coral; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  /* background-color: teal; */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 10px;
  border-radius: 6px;

}

.input-wrapper label {
  font-size: 14px;
  color: grey;
  font-weight: 500;
  margin-bottom: 5px;
}

button {
  background-color: teal;
  padding: 10px 30px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

#canvas {
  border: 2px solid teal;
  display: block;
  width: 100vw;
  height: 100vh;
}