:root {
  --default-color: teal
}

.button {
  transition: filter .8s ease-in-out;
  background-color: var(--default-color);
}

.button:hover {
  /* background-color: rgb(2, 82, 114) !important; */
  /* filter: contrast(.5); */
  /* filter: hue-rotate(-45deg); */
  /* filter: saturate(.5); */
}