.card-wrapper {
  /* background-color: teal; */
  /* width: max-content; */
  padding: 20px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: rgb(255, 255, 255);
}

.card-wrapper__header {
  display: flex;
  justify-content: space-between;
}

.card-wrapper__title {
  color: teal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}